#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #f8f9fc;
}

/* Main layout */
.app-layout {
  display: flex;
  min-height: 100vh; /* min-h-screen */
  width: 100%;
}

/* Right side content */
.app-content {
  flex: 1; /* flex-1 */
  padding: 24px;
  overflow-y: auto;
  background-color: #f8f9fc; /* optional */
}
