#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #f8f9fc;
}

/* Main layout */
.app-layout {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Right side content */
.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f6f7fb;
}
